.header h1 { text-align: center; }

.container { width: 320px; }
.top { background-image: none; }
.top .innerliner { background-image: none; }

.top .left h2 { border-right: none; margin-right: 0; }
.top .left form { width: 50%; margin: 0; }
.top .right .liner { padding: 0; }
.top .right h2 { border-left: none; margin-left: 0; }

.bottom { display: none; margin-bottom: 30px; padding-top: 0; }
.bottom h2 { margin-top: 1em; }
.bottom .left code { margin-bottom: 0; }
.bottom .left .liner { padding: 0; }
.bottom .left .liner p:last-child { margin-bottom: 0; }

.bottom .right .liner { padding: 0; }
.bottom .right .bookmarklet { width: 296px; padding: 12px; }
.bottom .right .bookmarklet img { width: 296px; }

.footer { padding: 0; text-align: center; }