.radiationinfo-colorscale {
	height: 100px;
	background-image: -moz-linear-gradient(top, #8B0100 0%, #EFEC00 36%, #365C00 72%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8B0100), color-stop(36%,#EFEC00), color-stop(72%,#365C00));
}
.radiationinfo-container { cursor: help; border-bottom-width: 1px; border-bottom-style: dotted; }

.radiationinfo-rollover { position: absolute; z-index: 10000; top: 0; left: -999em; background: #FFF; width: 160px; padding: 10px; border: 1px solid #D2D2D2; font-family: Arial, sans-serif; line-height: 1.25; box-shadow: 0 2px 3px #000; }
	.radiationinfo-rate { margin: 0; padding: 0; border: none; font-size: 14px; font-weight: bold; color: #000; }
	.radiationinfo-block { float: left; display: inline; margin: 6px 0; padding: 6px 0; border-top: 1px solid #CACACA; border-bottom: 1px solid #CACACA; }

	dl.radiationinfo-compare { clear: both; float: left; display: inline; font-size: 12px; color: #505050; margin: 0; padding: 0; }
		.radiationinfo-compare dt { float: left; display: inline; width: 20%; margin: 0; padding: 0; color: #505050; text-align: center; font-weight: bold; }
		.radiationinfo-compare dd { float: right; display: inline; width: 77%; margin: 0; padding: 0 3% 0 0; }

.radiationinfo-sev1,
.radiationinfo-sev2,
.radiationinfo-sev3,
.radiationinfo-sev4,
.radiationinfo-sev5,
.radiationinfo-sev6,
.radiationinfo-sev7,
.radiationinfo-sev8,
.radiationinfo-sev9,
.radiationinfo-sev10,
.radiationinfo-sev11,
.radiationinfo-sev12,
.radiationinfo-sev13,
.radiationinfo-sev14,
.radiationinfo-sev15,
.radiationinfo-sev16,
.radiationinfo-sev17,
.radiationinfo-sev18,
.radiationinfo-sev19,
.radiationinfo-sev20,
.radiationinfo-sev21,
.radiationinfo-sev22,
.radiationinfo-sev23,
.radiationinfo-sev24,
.radiationinfo-sev25,
.radiationinfo-sev26,
.radiationinfo-sev27,
.radiationinfo-sev28,
.radiationinfo-sev29 { border-bottom-color: #405a13; }
.radiationinfo-sev30 { border-bottom-color: #455d16; }
.radiationinfo-sev31 { border-bottom-color: #496018; }
.radiationinfo-sev32 { border-bottom-color: #4d6418; }
.radiationinfo-sev33 { border-bottom-color: #536819; }
.radiationinfo-sev34 { border-bottom-color: #566b19; }
.radiationinfo-sev35 { border-bottom-color: #60731d; }
.radiationinfo-sev36 { border-bottom-color: #63761e; }
.radiationinfo-sev37 { border-bottom-color: #697a21; }
.radiationinfo-sev38 { border-bottom-color: #6d7d22; }
.radiationinfo-sev39 { border-bottom-color: #738224; }
.radiationinfo-sev40 { border-bottom-color: #788525; }
.radiationinfo-sev41 { border-bottom-color: #7b8825; }
.radiationinfo-sev42 { border-bottom-color: #808d26; }
.radiationinfo-sev43 { border-bottom-color: #849028; }
.radiationinfo-sev44 { border-bottom-color: #8a9429; }
.radiationinfo-sev45 { border-bottom-color: #8e972a; }
.radiationinfo-sev46 { border-bottom-color: #939a2a; }
.radiationinfo-sev47 { border-bottom-color: #9ba22f; }
.radiationinfo-sev48 { border-bottom-color: #a0a530; }
.radiationinfo-sev49 { border-bottom-color: #a5a932; }
.radiationinfo-sev50 { border-bottom-color: #a9ad32; }
.radiationinfo-sev51 { border-bottom-color: #afb134; }
.radiationinfo-sev52 { border-bottom-color: #b2b435; }
.radiationinfo-sev53 { border-bottom-color: #b8b835; }
.radiationinfo-sev54 { border-bottom-color: #bdbc37; }
.radiationinfo-sev55 { border-bottom-color: #c1bf3a; }
.radiationinfo-sev56 { border-bottom-color: #c6c33a; }
.radiationinfo-sev57 { border-bottom-color: #cbc73b; }
.radiationinfo-sev58 { border-bottom-color: #cfcb3e; }
.radiationinfo-sev59 { border-bottom-color: #d8d13f; }
.radiationinfo-sev60 { border-bottom-color: #ddd640; }
.radiationinfo-sev61 { border-bottom-color: #e1d943; }
.radiationinfo-sev62 { border-bottom-color: #e7dd43; }
.radiationinfo-sev63 { border-bottom-color: #ebe043; }
.radiationinfo-sev64 { border-bottom-color: #f0e447; }
.radiationinfo-sev65 { border-bottom-color: #f0e345; }
.radiationinfo-sev66 { border-bottom-color: #eddd44; }
.radiationinfo-sev67 { border-bottom-color: #e9d641; }
.radiationinfo-sev68 { border-bottom-color: #e7d241; }
.radiationinfo-sev69 { border-bottom-color: #e3cb3e; }
.radiationinfo-sev70 { border-bottom-color: #e1c63e; }
.radiationinfo-sev71 { border-bottom-color: #dbbb39; }
.radiationinfo-sev72 { border-bottom-color: #d8b636; }
.radiationinfo-sev73 { border-bottom-color: #d5b037; }
.radiationinfo-sev74 { border-bottom-color: #d2a933; }
.radiationinfo-sev75 { border-bottom-color: #cfa531; }
.radiationinfo-sev76 { border-bottom-color: #cc9f2f; }
.radiationinfo-sev77 { border-bottom-color: #ca9a2f; }
.radiationinfo-sev78 { border-bottom-color: #c5932e; }
.radiationinfo-sev79 { border-bottom-color: #c28e2b; }
.radiationinfo-sev80 { border-bottom-color: #c08829; }
.radiationinfo-sev81 { border-bottom-color: #bd8327; }
.radiationinfo-sev82 { border-bottom-color: #bb7d27; }
.radiationinfo-sev83 { border-bottom-color: #b47222; }
.radiationinfo-sev84 { border-bottom-color: #b26d22; }
.radiationinfo-sev85 { border-bottom-color: #af671f; }
.radiationinfo-sev86 { border-bottom-color: #ac621d; }
.radiationinfo-sev87 { border-bottom-color: #a95d1c; }
.radiationinfo-sev88 { border-bottom-color: #a7571c; }
.radiationinfo-sev89 { border-bottom-color: #a45219; }
.radiationinfo-sev90 { border-bottom-color: #a24d18; }
.radiationinfo-sev91 { border-bottom-color: #9f4717; }
.radiationinfo-sev92 { border-bottom-color: #9b4214; }
.radiationinfo-sev93 { border-bottom-color: #983d14; }
.radiationinfo-sev94 { border-bottom-color: #963912; }
.radiationinfo-sev95 { border-bottom-color: #912f10; }
.radiationinfo-sev96 { border-bottom-color: #8f2d0e; }
.radiationinfo-sev97 { border-bottom-color: #8c280f; }
.radiationinfo-sev98 { border-bottom-color: #89250f; }
.radiationinfo-sev99 { border-bottom-color: #86220d; }
.radiationinfo-sev100 { border-bottom-color: #841f0b; }