.radiationinfo-colorscale {
	height: 100px;
	background-image: -moz-linear-gradient(top, #8B0100 0%, #EFEC00 50%, #365C00 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8B0100), color-stop(50%,#EFEC00), color-stop(100%,#365C00));
}
.radiationinfo-unit { cursor: help; border-bottom-width: 1px; border-bottom-style: dotted; }

.radiationinfo-rollover { position: absolute; z-index: 10000; top: 0; left: -999em; background: #FFF; width: 160px; padding: 10px; border: 1px solid #D2D2D2; font-family: Arial, sans-serif; line-height: 1.25; box-shadow: 0 2px 3px #000; }
	.radiationinfo-rate { margin: 0; padding: 0; border: none; font-size: 14px; font-weight: bold; color: #000; }
	.radiationinfo-risk { font-size: 12px; margin: 6px 0; padding: 6px 0; border-top: 1px solid #CACACA; border-bottom: 1px solid #CACACA; color: #505050; }
		.radiationinfo-risk dt { margin: 0; padding: 0; display: inline; color: #505050; }
		.radiationinfo-risk dd { margin: 0; padding: 0; display: inline; text-transform: uppercase; }
	.radiationinfo-details { font-size: 11px; margin: 0; padding: 0; color: #505050; }

.radiationinfo-sev1 { border-bottom-color: #385e01; }
.radiationinfo-sev2 { border-bottom-color: #3a5f00; }
.radiationinfo-sev3 { border-bottom-color: #3e6100; }
.radiationinfo-sev4 { border-bottom-color: #3e6400; }
.radiationinfo-sev5 { border-bottom-color: #426500; }
.radiationinfo-sev6 { border-bottom-color: #446900; }
.radiationinfo-sev7 { border-bottom-color: #496c00; }
.radiationinfo-sev8 { border-bottom-color: #4b6f01; }
.radiationinfo-sev9 { border-bottom-color: #507200; }
.radiationinfo-sev10 { border-bottom-color: #547600; }
.radiationinfo-sev11 { border-bottom-color: #587900; }
.radiationinfo-sev12 { border-bottom-color: #5c7d00; }
.radiationinfo-sev13 { border-bottom-color: #608100; }
.radiationinfo-sev14 { border-bottom-color: #648500; }
.radiationinfo-sev15 { border-bottom-color: #698900; }
.radiationinfo-sev16 { border-bottom-color: #6d8d00; }
.radiationinfo-sev17 { border-bottom-color: #729100; }
.radiationinfo-sev18 { border-bottom-color: #779500; }
.radiationinfo-sev19 { border-bottom-color: #7c9901; }
.radiationinfo-sev20 { border-bottom-color: #809d00; }
.radiationinfo-sev21 { border-bottom-color: #85a200; }
.radiationinfo-sev22 { border-bottom-color: #8aa600; }
.radiationinfo-sev23 { border-bottom-color: #8faa00; }
.radiationinfo-sev24 { border-bottom-color: #94ae02; }
.radiationinfo-sev25 { border-bottom-color: #98b300; }
.radiationinfo-sev26 { border-bottom-color: #9eb700; }
.radiationinfo-sev27 { border-bottom-color: #a2bb00; }
.radiationinfo-sev28 { border-bottom-color: #a7bf00; }
.radiationinfo-sev29 { border-bottom-color: #acc300; }
.radiationinfo-sev30 { border-bottom-color: #b1c700; }
.radiationinfo-sev31 { border-bottom-color: #b5cb02; }
.radiationinfo-sev32 { border-bottom-color: #bbce02; }
.radiationinfo-sev33 { border-bottom-color: #bed202; }
.radiationinfo-sev34 { border-bottom-color: #c2d502; }
.radiationinfo-sev35 { border-bottom-color: #c7d803; }
.radiationinfo-sev36 { border-bottom-color: #cbdb00; }
.radiationinfo-sev37 { border-bottom-color: #cfde00; }
.radiationinfo-sev38 { border-bottom-color: #d2e100; }
.radiationinfo-sev39 { border-bottom-color: #d7e301; }
.radiationinfo-sev40 { border-bottom-color: #d9e502; }
.radiationinfo-sev41 { border-bottom-color: #dce700; }
.radiationinfo-sev42 { border-bottom-color: #dfe900; }
.radiationinfo-sev43 { border-bottom-color: #e2ea00; }
.radiationinfo-sev44 { border-bottom-color: #e5eb02; }
.radiationinfo-sev45 { border-bottom-color: #e7ec00; }
.radiationinfo-sev46 { border-bottom-color: #e9ec00; }
.radiationinfo-sev47 { border-bottom-color: #ebec00; }
.radiationinfo-sev48 { border-bottom-color: #edec00; }
.radiationinfo-sev49 { border-bottom-color: #eeec00; }
.radiationinfo-sev50 { border-bottom-color: #efec03; }
.radiationinfo-sev51 { border-bottom-color: #efeb00; }
.radiationinfo-sev52 { border-bottom-color: #efe901; }
.radiationinfo-sev53 { border-bottom-color: #efe802; }
.radiationinfo-sev54 { border-bottom-color: #efe500; }
.radiationinfo-sev55 { border-bottom-color: #efe300; }
.radiationinfo-sev56 { border-bottom-color: #efe002; }
.radiationinfo-sev57 { border-bottom-color: #efdd00; }
.radiationinfo-sev58 { border-bottom-color: #eed900; }
.radiationinfo-sev59 { border-bottom-color: #edd500; }
.radiationinfo-sev60 { border-bottom-color: #ecd100; }
.radiationinfo-sev61 { border-bottom-color: #eacd00; }
.radiationinfo-sev62 { border-bottom-color: #e9c900; }
.radiationinfo-sev63 { border-bottom-color: #e7c400; }
.radiationinfo-sev64 { border-bottom-color: #e5bf00; }
.radiationinfo-sev65 { border-bottom-color: #e3ba02; }
.radiationinfo-sev66 { border-bottom-color: #e1b502; }
.radiationinfo-sev67 { border-bottom-color: #deaf00; }
.radiationinfo-sev68 { border-bottom-color: #dcaa00; }
.radiationinfo-sev69 { border-bottom-color: #d9a402; }
.radiationinfo-sev70 { border-bottom-color: #d79d00; }
.radiationinfo-sev71 { border-bottom-color: #d49800; }
.radiationinfo-sev72 { border-bottom-color: #d19202; }
.radiationinfo-sev73 { border-bottom-color: #ce8c00; }
.radiationinfo-sev74 { border-bottom-color: #cc8600; }
.radiationinfo-sev75 { border-bottom-color: #c97f02; }
.radiationinfo-sev76 { border-bottom-color: #c67900; }
.radiationinfo-sev77 { border-bottom-color: #c37300; }
.radiationinfo-sev78 { border-bottom-color: #c06c00; }
.radiationinfo-sev79 { border-bottom-color: #bd6601; }
.radiationinfo-sev80 { border-bottom-color: #b96000; }
.radiationinfo-sev81 { border-bottom-color: #b65900; }
.radiationinfo-sev82 { border-bottom-color: #b35400; }
.radiationinfo-sev83 { border-bottom-color: #b04d00; }
.radiationinfo-sev84 { border-bottom-color: #ad4700; }
.radiationinfo-sev85 { border-bottom-color: #ab4200; }
.radiationinfo-sev86 { border-bottom-color: #a83b00; }
.radiationinfo-sev87 { border-bottom-color: #a53700; }
.radiationinfo-sev88 { border-bottom-color: #a23000; }
.radiationinfo-sev89 { border-bottom-color: #a02c00; }
.radiationinfo-sev90 { border-bottom-color: #9d2701; }
.radiationinfo-sev91 { border-bottom-color: #9b2200; }
.radiationinfo-sev92 { border-bottom-color: #981d00; }
.radiationinfo-sev93 { border-bottom-color: #961900; }
.radiationinfo-sev94 { border-bottom-color: #941501; }
.radiationinfo-sev95 { border-bottom-color: #921000; }
.radiationinfo-sev96 { border-bottom-color: #900a00; }
.radiationinfo-sev97 { border-bottom-color: #8f0801; }
.radiationinfo-sev98 { border-bottom-color: #8d0600; }
.radiationinfo-sev99 { border-bottom-color: #8c0200; }
.radiationinfo-sev100 { border-bottom-color: #8b0100; }