body { background: transparent url(../_img/background.png) left top repeat; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
input, select {font-family: Arial, Helvetica, sans-serif; }
a { color: #fce700; text-decoration: none; }
a:hover { text-decoration: underline; }

p {margin: .75em 0; line-height: 1.25;}

.dropshadow { -moz-box-shadow: 0 1px 1px #666; -webkit-box-shadow: 0 1px 1px #666; box-shadow: 0 1px 1px #666; }
.top .dropshadow { -moz-box-shadow: 0 0 1px #333; -webkit-box-shadow: 0 0 1px #666; box-shadow: 0 0 1px #333; }

.container { margin: 0 auto; min-width: 320px; width: 960px; }
.header { display: block; background: transparent url(../_img/hr.png) left bottom repeat-x; padding: 10px 0 11px; }

.top { float: left; display: inline; margin-top: 30px; background: transparent url(../_img/topsplit.png) center top repeat-y; }
	.top .innerliner { float: left; display: inline; width: 100%; background: url(../_img/arrow.png) center center no-repeat; }
	.top h2 { color: #FFF; text-transform: uppercase; background: #333; text-align: center; font-size: 13px; line-height: 30px; background: transparent url(../_img/toph2.png) left top repeat-x; }
	.top .left { float: left; display: inline; width: 50%; min-width: 320px; }
		.top .left h2 { border-right: 1px solid #000; margin-right: -1px; }
		.top .left .liner { float: left; display: inline; padding: 5%; }
		
		.scale { float: left; display: inline; width: 124px; height: 437px; }
		.scale img { display: block; width: 100%; max-width: 124px; }

		.ui-slider { position: relative; text-align: left; height:435px; overflow: visible; }
		.ui-slider .ui-slider-handle { background: black; text-decoration: none; cursor: default; position: absolute; z-index: 2; width: 57px; height: 29px; margin-bottom: -17px; margin-left: 124px; background: transparent url(../_img/slider.png) left top no-repeat; }

		.top .left form { float: right; display: inline; text-align: center; width: 35%; color: #333; margin: 154px 14% 0 0; }
			.top .left form input { display: block; width: 100%; background: #E8E8EB; text-align: center; color: #505050; font-weight: bold; font-size: 30px; margin: 0 0 10px; border-width: 1px;}
			.top .left form input { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
			.top .left form select { display: block; width: 100%; color: #333; text-align: left; font-size: 12px; line-height: 1.5; height: 18px; margin: 8px 0;}
			.top .left form select { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	.top .right { float: left; display: inline; width: 50%; min-width: 320px; }
		.top .right h2 { border-left: 1px solid #555; margin-left: -1px; }
		.top .right .liner { float: left; display: inline; padding: 10%; }
		.calculate { float: left; display: inline; width: 100%; margin-bottom: 5%; }
			.calculate div { float: left; display: inline; padding: 20px 0;}
			.unitbox { width: 46%; text-align: center; color: #505050; font-size: 14px; }
				.unitbox .level { display: block; font-size: 32px; color: #929292;}
			.compare { width: 8%; text-align: center; line-height: 46px; color: #666; font-weight: bold; font-size: 26px; }

		dl.severity { clear: both; float: left; display: inline; width: 100%; margin: 2px 0; }
			dl.severity dt { float: left; display: inline; width: 54%; color:#313131; text-transform: uppercase; line-height: 1; }
				dl.severity dt span { display: block; text-align: center; padding: 1px 0;}
				dl.severity dt .length { font-size: 12px; font-weight: bold; margin-top: 16px; }
				dl.severity dt .details { font-size: 11px; }
			dl.severity dd { float: right; display: inline; width: 46%; color: #FFF; font-size: 30px; line-height: 2; text-transform: uppercase; text-shadow: 2px 2px 3px #000; background-color: #999; text-align: center; }
		
		div.details { clear: both; padding-top: 7.5%; margin-bottom: -9px; }
			div.details h3 { font-size: 13px; font-weight: bold; color: #696969; text-transform: uppercase;}

.bottom { clear: both; float: left; display: inline; margin: 30px 0 2em; padding-top: 42px; color: #696969; background: transparent url(../_img/hr.png) left top repeat-x; }
	.bottom h2 { color:#2b2b2b; font-size: 30px; }
	.bottom .left { float: left; display: inline; width: 50%; min-width: 320px; }
		.bottom .left .liner { padding-right: 5%; }
		.bottom .left code { display: block; border: 2px solid #FFF; background: #7d7e82; padding: 12px; color: #FFF; font-family: 'Courier New', monospace; font-size: 10px; }
		.bottom .left code { -moz-box-shadow: inset 3px 3px 4px #000; -webkit-box-shadow: inset 3px 3px 4px #000; box-shadow: inset 2px 3px 4px #333; }
		.bottom .left .demo { padding: 9px 18px; }

	.bottom .right { float: left; display: inline; width: 50%; min-width: 320px; }
		.bottom .right .liner { padding-left: 5%; }
		.bottom .right .bookmarklet { background: #F8F8F8; display: block; width: 337px; padding: 24px; margin-top: 24px; }
		.bottom .right .bookmarklet img { vertical-align: bottom; }

.footer { clear: both; background: #2F2F2F; color: #9B9B9B; font-size: 12px; line-height: 3.5; padding: 0 24px; }

.top { background-color: rgba(255,255,255,0.4); }
.unitbox { background: rgba(255,255,255,0.4); }
dl.severity { background: rgba(255,255,255,0.4); }
.bottom .left .demo { background: rgba(255,255,255,0.4); } 

.backgroundsev1,
.backgroundsev2,
.backgroundsev3,
.backgroundsev4,
.backgroundsev5,
.backgroundsev6,
.backgroundsev7,
.backgroundsev8,
.backgroundsev9,
.backgroundsev10,
.backgroundsev11,
.backgroundsev12,
.backgroundsev13,
.backgroundsev14,
.backgroundsev15,
.backgroundsev16,
.backgroundsev17,
.backgroundsev18,
.backgroundsev19,
.backgroundsev20,
.backgroundsev21,
.backgroundsev22,
.backgroundsev23,
.backgroundsev24,
.backgroundsev25 {
	background-color: #405a13 !important;
	background-image: -moz-linear-gradient(top, #405a13 0%, #405a13 50%, #455d16 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405a13), color-stop(50%,#405a13), color-stop(100%,#455d16));
}
.backgroundsev26 {
	background-color: #405a13 !important;
	background-image: -moz-linear-gradient(top, #415a13 0%, #405a13 50%, #496018 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#415a13), color-stop(50%,#405a13), color-stop(100%,#496018));
}
.backgroundsev27 {
	background-color: #405a13 !important;
	background-image: -moz-linear-gradient(top, #405913 0%, #405a13 50%, #4d6418 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405913), color-stop(50%,#405a13), color-stop(100%,#4d6418));
}
.backgroundsev28 {
	background-color: #415a13 !important;
	background-image: -moz-linear-gradient(top, #415a13 0%, #415a13 50%, #536819 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#415a13), color-stop(50%,#415a13), color-stop(100%,#536819));
}
.backgroundsev29 {
	background-color: #405a13 !important;
	background-image: -moz-linear-gradient(top, #415a13 0%, #405a13 50%, #566b19 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#415a13), color-stop(50%,#405a13), color-stop(100%,#566b19));
}
.backgroundsev30 {
	background-color: #455d16 !important;
	background-image: -moz-linear-gradient(top, #405a13 0%, #455d16 50%, #60731d 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405a13), color-stop(50%,#455d16), color-stop(100%,#60731d));
}
.backgroundsev31 {
	background-color: #496018 !important;
	background-image: -moz-linear-gradient(top, #405a13 0%, #496018 50%, #63761e 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405a13), color-stop(50%,#496018), color-stop(100%,#63761e));
}
.backgroundsev32 {
	background-color: #4d6418 !important;
	background-image: -moz-linear-gradient(top, #405a13 0%, #4d6418 50%, #697a21 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405a13), color-stop(50%,#4d6418), color-stop(100%,#697a21));
}
.backgroundsev33 {
	background-color: #536819 !important;
	background-image: -moz-linear-gradient(top, #415a13 0%, #536819 50%, #6d7d22 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#415a13), color-stop(50%,#536819), color-stop(100%,#6d7d22));
}
.backgroundsev34 {
	background-color: #566b19 !important;
	background-image: -moz-linear-gradient(top, #405a13 0%, #566b19 50%, #738224 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405a13), color-stop(50%,#566b19), color-stop(100%,#738224));
}
.backgroundsev35 {
	background-color: #60731d !important;
	background-image: -moz-linear-gradient(top, #455d16 0%, #60731d 50%, #788525 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#455d16), color-stop(50%,#60731d), color-stop(100%,#788525));
}
.backgroundsev36 {
	background-color: #63761e !important;
	background-image: -moz-linear-gradient(top, #496018 0%, #63761e 50%, #7b8825 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#496018), color-stop(50%,#63761e), color-stop(100%,#7b8825));
}
.backgroundsev37 {
	background-color: #697a21 !important;
	background-image: -moz-linear-gradient(top, #4d6418 0%, #697a21 50%, #808d26 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d6418), color-stop(50%,#697a21), color-stop(100%,#808d26));
}
.backgroundsev38 {
	background-color: #6d7d22 !important;
	background-image: -moz-linear-gradient(top, #536819 0%, #6d7d22 50%, #849028 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#536819), color-stop(50%,#6d7d22), color-stop(100%,#849028));
}
.backgroundsev39 {
	background-color: #738224 !important;
	background-image: -moz-linear-gradient(top, #566b19 0%, #738224 50%, #8a9429 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#566b19), color-stop(50%,#738224), color-stop(100%,#8a9429));
}
.backgroundsev40 {
	background-color: #788525 !important;
	background-image: -moz-linear-gradient(top, #60731d 0%, #788525 50%, #8e972a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60731d), color-stop(50%,#788525), color-stop(100%,#8e972a));
}
.backgroundsev41 {
	background-color: #7b8825 !important;
	background-image: -moz-linear-gradient(top, #63761e 0%, #7b8825 50%, #939a2a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63761e), color-stop(50%,#7b8825), color-stop(100%,#939a2a));
}
.backgroundsev42 {
	background-color: #808d26 !important;
	background-image: -moz-linear-gradient(top, #697a21 0%, #808d26 50%, #9ba22f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#697a21), color-stop(50%,#808d26), color-stop(100%,#9ba22f));
}
.backgroundsev43 {
	background-color: #849028 !important;
	background-image: -moz-linear-gradient(top, #6d7d22 0%, #849028 50%, #a0a530 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d7d22), color-stop(50%,#849028), color-stop(100%,#a0a530));
}
.backgroundsev44 {
	background-color: #8a9429 !important;
	background-image: -moz-linear-gradient(top, #738224 0%, #8a9429 50%, #a5a932 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#738224), color-stop(50%,#8a9429), color-stop(100%,#a5a932));
}
.backgroundsev45 {
	background-color: #8e972a !important;
	background-image: -moz-linear-gradient(top, #788525 0%, #8e972a 50%, #a9ad32 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#788525), color-stop(50%,#8e972a), color-stop(100%,#a9ad32));
}
.backgroundsev46 {
	background-color: #939a2a !important;
	background-image: -moz-linear-gradient(top, #7b8825 0%, #939a2a 50%, #afb134 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8825), color-stop(50%,#939a2a), color-stop(100%,#afb134));
}
.backgroundsev47 {
	background-color: #9ba22f !important;
	background-image: -moz-linear-gradient(top, #808d26 0%, #9ba22f 50%, #b2b435 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#808d26), color-stop(50%,#9ba22f), color-stop(100%,#b2b435));
}
.backgroundsev48 {
	background-color: #a0a530 !important;
	background-image: -moz-linear-gradient(top, #849028 0%, #a0a530 50%, #b8b835 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#849028), color-stop(50%,#a0a530), color-stop(100%,#b8b835));
}
.backgroundsev49 {
	background-color: #a5a932 !important;
	background-image: -moz-linear-gradient(top, #8a9429 0%, #a5a932 50%, #bdbc37 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a9429), color-stop(50%,#a5a932), color-stop(100%,#bdbc37));
}
.backgroundsev50 {
	background-color: #a9ad32 !important;
	background-image: -moz-linear-gradient(top, #8e972a 0%, #a9ad32 50%, #c1bf3a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e972a), color-stop(50%,#a9ad32), color-stop(100%,#c1bf3a));
}
.backgroundsev51 {
	background-color: #afb134 !important;
	background-image: -moz-linear-gradient(top, #939a2a 0%, #afb134 50%, #c6c33a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939a2a), color-stop(50%,#afb134), color-stop(100%,#c6c33a));
}
.backgroundsev52 {
	background-color: #b2b435 !important;
	background-image: -moz-linear-gradient(top, #9ba22f 0%, #b2b435 50%, #cbc73b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ba22f), color-stop(50%,#b2b435), color-stop(100%,#cbc73b));
}
.backgroundsev53 {
	background-color: #b8b835 !important;
	background-image: -moz-linear-gradient(top, #a0a530 0%, #b8b835 50%, #cfcb3e 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a530), color-stop(50%,#b8b835), color-stop(100%,#cfcb3e));
}
.backgroundsev54 {
	background-color: #bdbc37 !important;
	background-image: -moz-linear-gradient(top, #a5a932 0%, #bdbc37 50%, #d8d13f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a932), color-stop(50%,#bdbc37), color-stop(100%,#d8d13f));
}
.backgroundsev55 {
	background-color: #c1bf3a !important;
	background-image: -moz-linear-gradient(top, #a9ad32 0%, #c1bf3a 50%, #ddd640 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9ad32), color-stop(50%,#c1bf3a), color-stop(100%,#ddd640));
}
.backgroundsev56 {
	background-color: #c6c33a !important;
	background-image: -moz-linear-gradient(top, #afb134 0%, #c6c33a 50%, #e1d943 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afb134), color-stop(50%,#c6c33a), color-stop(100%,#e1d943));
}
.backgroundsev57 {
	background-color: #cbc73b !important;
	background-image: -moz-linear-gradient(top, #b2b435 0%, #cbc73b 50%, #e7dd43 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b435), color-stop(50%,#cbc73b), color-stop(100%,#e7dd43));
}
.backgroundsev58 {
	background-color: #cfcb3e !important;
	background-image: -moz-linear-gradient(top, #b8b835 0%, #cfcb3e 50%, #ebe043 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8b835), color-stop(50%,#cfcb3e), color-stop(100%,#ebe043));
}
.backgroundsev59 {
	background-color: #d8d13f !important;
	background-image: -moz-linear-gradient(top, #bdbc37 0%, #d8d13f 50%, #f0e447 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdbc37), color-stop(50%,#d8d13f), color-stop(100%,#f0e447));
}
.backgroundsev60 {
	background-color: #ddd640 !important;
	background-image: -moz-linear-gradient(top, #c1bf3a 0%, #ddd640 50%, #f0e345 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1bf3a), color-stop(50%,#ddd640), color-stop(100%,#f0e345));
}
.backgroundsev61 {
	background-color: #e1d943 !important;
	background-image: -moz-linear-gradient(top, #c6c33a 0%, #e1d943 50%, #eddd44 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c33a), color-stop(50%,#e1d943), color-stop(100%,#eddd44));
}
.backgroundsev62 {
	background-color: #e7dd43 !important;
	background-image: -moz-linear-gradient(top, #cbc73b 0%, #e7dd43 50%, #e9d641 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbc73b), color-stop(50%,#e7dd43), color-stop(100%,#e9d641));
}
.backgroundsev63 {
	background-color: #ebe043 !important;
	background-image: -moz-linear-gradient(top, #cfcb3e 0%, #ebe043 50%, #e7d241 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcb3e), color-stop(50%,#ebe043), color-stop(100%,#e7d241));
}
.backgroundsev64 {
	background-color: #f0e447 !important;
	background-image: -moz-linear-gradient(top, #d8d13f 0%, #f0e447 50%, #e3cb3e 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d13f), color-stop(50%,#f0e447), color-stop(100%,#e3cb3e));
}
.backgroundsev65 {
	background-color: #f0e345 !important;
	background-image: -moz-linear-gradient(top, #ddd640 0%, #f0e345 50%, #e1c63e 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd640), color-stop(50%,#f0e345), color-stop(100%,#e1c63e));
}
.backgroundsev66 {
	background-color: #eddd44 !important;
	background-image: -moz-linear-gradient(top, #e1d943 0%, #eddd44 50%, #dbbb39 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1d943), color-stop(50%,#eddd44), color-stop(100%,#dbbb39));
}
.backgroundsev67 {
	background-color: #e9d641 !important;
	background-image: -moz-linear-gradient(top, #e7dd43 0%, #e9d641 50%, #d8b636 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7dd43), color-stop(50%,#e9d641), color-stop(100%,#d8b636));
}
.backgroundsev68 {
	background-color: #e7d241 !important;
	background-image: -moz-linear-gradient(top, #ebe043 0%, #e7d241 50%, #d5b037 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebe043), color-stop(50%,#e7d241), color-stop(100%,#d5b037));
}
.backgroundsev69 {
	background-color: #e3cb3e !important;
	background-image: -moz-linear-gradient(top, #f0e447 0%, #e3cb3e 50%, #d2a933 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0e447), color-stop(50%,#e3cb3e), color-stop(100%,#d2a933));
}
.backgroundsev70 {
	background-color: #e1c63e !important;
	background-image: -moz-linear-gradient(top, #f0e345 0%, #e1c63e 50%, #cfa531 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0e345), color-stop(50%,#e1c63e), color-stop(100%,#cfa531));
}
.backgroundsev71 {
	background-color: #dbbb39 !important;
	background-image: -moz-linear-gradient(top, #eddd44 0%, #dbbb39 50%, #cc9f2f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eddd44), color-stop(50%,#dbbb39), color-stop(100%,#cc9f2f));
}
.backgroundsev72 {
	background-color: #d8b636 !important;
	background-image: -moz-linear-gradient(top, #e9d641 0%, #d8b636 50%, #ca9a2f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9d641), color-stop(50%,#d8b636), color-stop(100%,#ca9a2f));
}
.backgroundsev73 {
	background-color: #d5b037 !important;
	background-image: -moz-linear-gradient(top, #e7d241 0%, #d5b037 50%, #c5932e 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7d241), color-stop(50%,#d5b037), color-stop(100%,#c5932e));
}
.backgroundsev74 {
	background-color: #d2a933 !important;
	background-image: -moz-linear-gradient(top, #e3cb3e 0%, #d2a933 50%, #c28e2b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3cb3e), color-stop(50%,#d2a933), color-stop(100%,#c28e2b));
}
.backgroundsev75 {
	background-color: #cfa531 !important;
	background-image: -moz-linear-gradient(top, #e1c63e 0%, #cfa531 50%, #c08829 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1c63e), color-stop(50%,#cfa531), color-stop(100%,#c08829));
}
.backgroundsev76 {
	background-color: #cc9f2f !important;
	background-image: -moz-linear-gradient(top, #dbbb39 0%, #cc9f2f 50%, #bd8327 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbbb39), color-stop(50%,#cc9f2f), color-stop(100%,#bd8327));
}
.backgroundsev77 {
	background-color: #ca9a2f !important;
	background-image: -moz-linear-gradient(top, #d8b636 0%, #ca9a2f 50%, #bb7d27 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8b636), color-stop(50%,#ca9a2f), color-stop(100%,#bb7d27));
}
.backgroundsev78 {
	background-color: #c5932e !important;
	background-image: -moz-linear-gradient(top, #d5b037 0%, #c5932e 50%, #b47222 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5b037), color-stop(50%,#c5932e), color-stop(100%,#b47222));
}
.backgroundsev79 {
	background-color: #c28e2b !important;
	background-image: -moz-linear-gradient(top, #d2a933 0%, #c28e2b 50%, #b26d22 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2a933), color-stop(50%,#c28e2b), color-stop(100%,#b26d22));
}
.backgroundsev80 {
	background-color: #c08829 !important;
	background-image: -moz-linear-gradient(top, #cfa531 0%, #c08829 50%, #af671f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfa531), color-stop(50%,#c08829), color-stop(100%,#af671f));
}
.backgroundsev81 {
	background-color: #bd8327 !important;
	background-image: -moz-linear-gradient(top, #cc9f2f 0%, #bd8327 50%, #ac621d 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc9f2f), color-stop(50%,#bd8327), color-stop(100%,#ac621d));
}
.backgroundsev82 {
	background-color: #bb7d27 !important;
	background-image: -moz-linear-gradient(top, #ca9a2f 0%, #bb7d27 50%, #a95d1c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca9a2f), color-stop(50%,#bb7d27), color-stop(100%,#a95d1c));
}
.backgroundsev83 {
	background-color: #b47222 !important;
	background-image: -moz-linear-gradient(top, #c5932e 0%, #b47222 50%, #a7571c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5932e), color-stop(50%,#b47222), color-stop(100%,#a7571c));
}
.backgroundsev84 {
	background-color: #b26d22 !important;
	background-image: -moz-linear-gradient(top, #c28e2b 0%, #b26d22 50%, #a45219 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c28e2b), color-stop(50%,#b26d22), color-stop(100%,#a45219));
}
.backgroundsev85 {
	background-color: #af671f !important;
	background-image: -moz-linear-gradient(top, #c08829 0%, #af671f 50%, #a24d18 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c08829), color-stop(50%,#af671f), color-stop(100%,#a24d18));
}
.backgroundsev86 {
	background-color: #ac621d !important;
	background-image: -moz-linear-gradient(top, #bd8327 0%, #ac621d 50%, #9f4717 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd8327), color-stop(50%,#ac621d), color-stop(100%,#9f4717));
}
.backgroundsev87 {
	background-color: #a95d1c !important;
	background-image: -moz-linear-gradient(top, #bb7d27 0%, #a95d1c 50%, #9b4214 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb7d27), color-stop(50%,#a95d1c), color-stop(100%,#9b4214));
}
.backgroundsev88 {
	background-color: #a7571c !important;
	background-image: -moz-linear-gradient(top, #b47222 0%, #a7571c 50%, #983d14 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b47222), color-stop(50%,#a7571c), color-stop(100%,#983d14));
}
.backgroundsev89 {
	background-color: #a45219 !important;
	background-image: -moz-linear-gradient(top, #b26d22 0%, #a45219 50%, #963912 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b26d22), color-stop(50%,#a45219), color-stop(100%,#963912));
}
.backgroundsev90 {
	background-color: #a24d18 !important;
	background-image: -moz-linear-gradient(top, #af671f 0%, #a24d18 50%, #912f10 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af671f), color-stop(50%,#a24d18), color-stop(100%,#912f10));
}
.backgroundsev91 {
	background-color: #9f4717 !important;
	background-image: -moz-linear-gradient(top, #ac621d 0%, #9f4717 50%, #8f2d0e 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ac621d), color-stop(50%,#9f4717), color-stop(100%,#8f2d0e));
}
.backgroundsev92 {
	background-color: #9b4214 !important;
	background-image: -moz-linear-gradient(top, #a95d1c 0%, #9b4214 50%, #8c280f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a95d1c), color-stop(50%,#9b4214), color-stop(100%,#8c280f));
}
.backgroundsev93 {
	background-color: #983d14 !important;
	background-image: -moz-linear-gradient(top, #a7571c 0%, #983d14 50%, #89250f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7571c), color-stop(50%,#983d14), color-stop(100%,#89250f));
}
.backgroundsev94 {
	background-color: #963912 !important;
	background-image: -moz-linear-gradient(top, #a45219 0%, #963912 50%, #86220d 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a45219), color-stop(50%,#963912), color-stop(100%,#86220d));
}
.backgroundsev95 {
	background-color: #912f10 !important;
	background-image: -moz-linear-gradient(top, #a24d18 0%, #912f10 50%, #841f0b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a24d18), color-stop(50%,#912f10), color-stop(100%,#841f0b));
}
.backgroundsev96 {
	background-color: #8f2d0e !important;
	background-image: -moz-linear-gradient(top, #9f4717 0%, #8f2d0e 50%, #841f0b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f4717), color-stop(50%,#8f2d0e), color-stop(100%,#841f0b));
}
.backgroundsev97 {
	background-color: #8c280f !important;
	background-image: -moz-linear-gradient(top, #9b4214 0%, #8c280f 50%, #841f0b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b4214), color-stop(50%,#8c280f), color-stop(100%,#841f0b));
}
.backgroundsev98 {
	background-color: #89250f !important;
	background-image: -moz-linear-gradient(top, #983d14 0%, #89250f 50%, #841f0b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#983d14), color-stop(50%,#89250f), color-stop(100%,#841f0b));
}
.backgroundsev99 {
	background-color: #86220d !important;
	background-image: -moz-linear-gradient(top, #963912 0%, #86220d 50%, #841f0b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#963912), color-stop(50%,#86220d), color-stop(100%,#841f0b));
}
.backgroundsev100 {
	background-color: #841f0b !important;
	background-image: -moz-linear-gradient(top, #912f10 0%, #841f0b 50%, #841f0b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#912f10), color-stop(50%,#841f0b), color-stop(100%,#841f0b));
}